body {
  padding: 0;
  margin: 0;
  background-color: #FDFDFD;
  font-family: Raleway;
}

h1 {
  text-align: center;
  color: #2E5DBA;
  font-family: Karla;
}

h2 {
  text-align: center;
  font-family: Karla;
  color: #2E5DBA;
  font-weight: 500;
}

h3 {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

header {
  background-image: url(../IMG/fond3.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

header>.cover {
  background-color: rgba(0, 0, 0, 0.30);
  background-size: cover;
  height: 100vh;
}

.blocapropos2 {
  float: left;
  background: rgba(30, 30, 30, 0.9);
  height: 185px;
  width: 100%;
}

.apropos {
  color: white;
  height: 200px;
}

.papropos {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  color: white;
  margin-top: 2%;
  font-family: karla;
}

.liapropos {
  list-style: none;
  width: 63%;
  margin-left: 17%;
  margin-right: 20%;
  text-align: center;
  font-family: karla;
}

.nomhead {
  text-align: center;
  color: #FDFDFD;
  font-family: Raleway;
  font-weight: 500;
  font-size: 26px;
  font-weight: 500;
  position: relative;
  top: 135px;
}

.webhead {
  text-align: center;
  text-decoration: none;
  color: #FDFDFD;
  font-family: Raleway;
  font-weight: 500;
  position: relative;
  top: 250px
}

.webhead:hover {
  color: #2E5DBA;
}

.anavbar {
  text-decoration: none;
  color: #FDFDFD;
    font-weight: 500;
}

.anavbar:hover {
  color: #2E5DBA;
}

.linavbar{
  display: inline-block;
  margin-left: 3%;
}
.navbar {
  margin-top: 0;
  position: relative;
  top: 50px;
  font-weight: 500;
  padding: 0;
  text-align: center;
}

.hr1 {
  position: relative;
  top: 175px;
  border: 1px solid #2E5DBA;
  width: 36%;
  margin-left: 32%;
  margin-right: 32%;
}

.hr2 {
  position: relative;
  top: 365px;
  border: 1px solid #2E5DBA;
  width: 36%;
  margin-left: 32%;
  margin-right: 32%;
}

.hr3 {
   position: relative;
   border: 1px solid rgba(46, 93, 186, 0.6);;
   width: 450px;
   top: 250px;
   transform: rotate(90deg);
}

.hr4 {
 position: relative;
 border: 1px solid rgba(46, 93, 186, 0.6);;
 width: 300px;
 top: 170px;
 transform: rotate(90deg);
}

.formations {
  position: relative;
  top: 70px;
  margin-bottom: 50px;
}

.date {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 70px;
  width: 100px;
  text-align: center;
  background-color: white;
  height: 50px;
  line-height: 45px;
}

.date1 {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 70px;
  width: 150px;
  text-align: center;
  background-color: white;
  height: 50px;
}

.date3 {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 70px;
  width: 100px;
  text-align: center;
  background-color: white;
  height: 50px;
  line-height: 45px;
}

.bloc1 {
  width: 300px;
  height: 60px;
  background-color: #FDFDFD;
  text-align: center;
  position: relative;
  margin-left: 21%;
  top: 5px;
  font-size: 14px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.job1 {
  position: relative;
  bottom: 5px;
  font-weight: 600;
  font-size: 16px;
  color: rgba(46, 93, 186, 1);
  margin-left: 28%;
}

.ville1 {
  position: relative;
  bottom: 16px;
  font-weight: 500;
}

.bloc2 {
  width: 300px;
  height: 60px;
  background-color: #FDFDFD;
  text-align: center;
  position: relative;
  margin-left: 55%;
  top: 5px;
  font-size: 14px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.job2 {
  position: relative;
  bottom: 5px;
  margin-right: 28%;
  font-weight: 600;
  font-size: 16px;
  color: rgba(46, 93, 186, 1)
}

.ville2 {
  position: relative;
  bottom: 16px;
  margin-right: 44%;
  font-weight: 500;
}

.bloc1:hover {
  background-color: rgba(46, 93, 186, 0.8);
}

.bloc2:hover {
  background-color: rgba(46, 93, 186, 0.8);
}

.bloc3:hover {
  background-color: rgba(46, 93, 186, 0.8);
}

.bloc4:hover {
  background-color: rgba(46, 93, 186, 0.8);
}

.bloc5:hover {
  background-color: rgba(46, 93, 186, 0.8);
}

.bloc6:hover {
  background-color: rgba(46, 93, 186, 0.8);
}

.bloc7:hover {
  background-color: rgba(46, 93, 186, 0.8);
}

.bloc8:hover {
  background-color: rgba(46, 93, 186, 0.8);
}

.bloc9:hover {
  background-color: rgba(46, 93, 186, 0.8);
}

.bloc3 {
  width: 300px;
  height: 60px;
  background-color: #FDFDFD;
  text-align: center;
  position: relative;
  margin-left: 21%;
  top: 5px;
  font-size: 14px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.job3 {
  position: relative;
  bottom: 5px;
  margin-left: 55%;
  font-weight: 600;
  font-size: 16px;
  color: rgba(46, 93, 186, 1)
}

.ville3 {
  position: relative;
  bottom: 16px;
  margin-left: 62%;
  font-weight: 500;
}

.bloc6 {
  width: 300px;
  height: 80px;
  background-color: #FDFDFD;
  text-align: center;
  position: relative;
  margin-left: 21%;
  top: 5px;
  font-size: 14px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.job6 {
  position: relative;
  bottom: 5px;
  font-weight: 600;
  font-size: 16px;
  color: rgba(46, 93, 186, 1);
}

.ville6 {
  position: relative;
  bottom: 16px;
  font-weight: 500;
  text-align: center;
}

.bloc7 {
  width: 300px;
  height: 65px;
  background-color: #FDFDFD;
  text-align: center;
  position: relative;
  margin-left: 55%;
  top: 5px;
  font-size: 14px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.job7 {
  position: relative;
  bottom: 5px;
  margin-right: 16%;
  font-weight: 600;
  font-size: 16px;
  color: rgba(46, 93, 186, 1)
}

.ville7 {
  position: relative;
  bottom: 16px;
  margin-right: 6%;
  font-weight: 500;
}

.competences {
  position: relative;
  box-sizing: border-box;
  background: rgba(30, 30, 30, 0.9);
  background-size: cover;
  height: 420px;
  top: 60px;
}

.h3competences {
  font-family: Karla;
  color: white;
  font-weight: 400;
  font-size: 28px;
  position: relative;
  top: 20px;
}

.bloccompetences {
  text-align: center;
  position: relative;
  top: 20px;
  color: white;
  width: 95%;
}

.licompetences {
  list-style: none;
  font-family: karla;
}

.contact {
  position: relative;
  top: 60px;
  height: 300px;
}

.googlemaps {
  float: left;
  margin-left: 5%;
  width: 45%;
  height: 350px;
}

.buttonmail {
  float: left;
  margin-right: 5%;
  margin-left: 5%;
  width: 40%;
  height: 60px;
  background: rgba(30, 30, 30, 0.9);
  color: white;
  border-radius: 3px;
  border: transparent;
}

.buttonmail:hover {
  background: rgba(46, 93, 186, 0.9);
}

.buttoncv {
  float: left;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 1%;
  width: 40%;
  height: 60px;
  background: rgba(30, 30, 30, 0.9);
  color: white;
  border-radius: 3px;
  border: transparent;
}

.buttoncv:hover {
  background: rgba(46, 93, 186, 0.9);
}

.preseaux {
  float: left;
  margin-top: 2%;
  text-align: center;
  margin-right: 5%;
  margin-left: 5%;
  width: 40%;
  height: 60px;
  color: rgba(46, 93, 186, 0.9);
  height: 20px;
  font-size: 1.4em;
  font-weight: 500;
  font-family: Karla;
}

.copyright {
  position: relative;
  clear: both;
  background: rgba(30, 30, 30, 0.9);
  top: 50px;
  height: 100px;
  color: white;
  font-weight: 400;
  font-family: Karla;
  font-size: 0.8em;
  text-align: center;
}

.pcopyright {
  position: relative;
  height: 20px;
  top: 40%;
}

.imgreseau {
  width: 30px;
}

.blocreseau {
  float: left;
  width: 50%;
  text-align: center;
  letter-spacing: 1em;
}


@media screen and (min-width: 1681px) and (max-width: 1920px) {

  .nomhead {
    top: 285px;
  }

  .webhead {

    top: 400px
  }

  .hr1 {
    top: 325px;
  }

  .hr2 {
    top: 515px;
  }

  .bloc1 {
    margin-left: 29%;
  }

  .bloc3 {
    margin-left: 29%;
  }

  .bloc6 {
    margin-left: 29%;
  }
}

@media  screen and (min-width: 1441px) and (max-width: 1680px) {

  .nomhead {
    top: 285px;
  }

  .webhead {

    top: 400px
  }

  .hr1 {
    top: 325px;
  }

  .hr2 {
    top: 515px;
  }

  .bloc1 {
    margin-left: 25%;
  }

  .bloc3 {
    margin-left: 25%;
  }

  .bloc6 {
    margin-left: 25%;
  }
}

@media  screen and (min-width: 1200px) and (max-width: 1440px) {

  .nomhead {
    top: 195px;
  }

  .webhead {

    top: 310px
  }

  .hr1 {
    top: 235px;
  }

  .hr2 {
    top: 425px;
  }

  .bloc1 {
    margin-left: 20%;

  }

  .bloc3 {
    margin-left: 20%;
  }

  .bloc6 {
    margin-left: 20%;
  }
}

@media screen and (max-width: 1199px) {

  .linavbar{
    margin: 0;
    display: block;
  }

  .googlemaps {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 50%;
  }

  .buttonmail {
    clear: both;
    margin-top: 5%;
  }

  .buttoncv {
    margin-top: 5%;
  }

  .preseaux {
    margin-right: 5%;
    margin-left: 5%;
    width: 90%;
  }

  .blocreseau {
    float: left;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .bloccompetences {
    text-align: center;
    position: relative;
    top: 20px;
    color: white;
  }

  .imgcompetences {
  width: 50px;
  }

  .competences {
    height: 420px;
  }

  .hr3 {
  display: none;
  }

  .hr4 {
  display: none;
  }

  .date {
    top: 2px;
    width: 80%;
    line-height: 45px;
    font-weight: 400;
    font-family: karla;
  }

  .date1 {
    top: 2px;
    width: 80%;
    line-height: 45px;
    font-weight: 400;
    font-family: karla;
  }

  .date3 {
    top: 2px;
    width: 80%;
    line-height: 45px;
    font-weight: 400;
    font-family: karla;
  }

  .formations {
    position: relative;
    top: 20px;
    margin-bottom: 50px;
  }

  .bloc1 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .job1 {
    margin-left: 0;
  }

  .bloc2 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .job2 {
    margin-right: 0;
  }

  .ville2 {
    margin-right: 0;
    margin-left: 0;
  }

  .bloc3 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .job3 {
    margin-left: 0;
  }

  .ville3 {
    margin-right: 0;
    margin-left: 0;
  }

  .bloc4 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .job4 {
    margin-right: 0;
  }

  .ville4 {
    margin-right: 0;
    margin-left: 0;
    text-align: center;
  }

  .bloc5 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .job5 {
    margin-left: 0;
  }

  .ville5 {
    margin-right: 0;
    margin-left: 0;
  }

  .bloc6 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .job6 {
    margin-left: 0;
  }

  .ville6 {
    margin-right: 0;
    margin-left: 0;
  }

  .bloc7 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .job7 {
    margin-right: 0;
  }

  .ville7 {
    margin-right: 0;
    margin-left: 0;
  }

  .bloc8 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .job8 {
    margin-left: 0;
  }

  .ville8 {
    margin-right: 0;
    margin-left: 0;
  }

  .bloc9 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .job9 {
    margin-right: 0;
  }

  .ville9 {
    margin-right: 0;
    margin-left: 0;
    text-align: center;
  }

  .copyright {
    top: 20px;
  }

  .papropos {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .nomhead {
    top: 135px;
  }

  .webhead {

    top: 250px
  }

  .hr1 {
    top: 175px;
  }

  .hr2 {
    top: 365px;;
  }

}

@media screen and (max-width: 699px) {

  .blocapropos2 {
    height: 220px;
  }

}

@media screen and (max-width: 591px) {

  .nomhead {
    top: 210px;
  }

  .webhead {
    top: 360px
  }

  .nomhead {
    top: 180px;
  }

  .webhead {

    top: 340px
  }

  .hr1 {
    top: 275px;
  }

  .hr2 {
    top: 465px;;
  }

  .competences {
    height: 460px;
  }

}

@media screen and (max-width: 576px) {

  .competences {
    height: 400px;
  }

  .bloccompetences {
    font-size: 0.9em;
    width: 95%;
  }

}

@media screen and (max-width: 516px) {

  .competences {
    height: 420px;

  }

  .bloccompetences {
    width: 98%;
  }

}

@media screen and (max-width: 504px) {

  .competences {
    height: 440px;
  }

}

@media screen and (max-width: 500px) {

  .competences {
    height: 470px;
  }

}

@media screen and (max-width: 489px) {

  .blocapropos2 {
    height: 235px;
  }

  .competences {
    height: 490px;
  }
}

@media screen and (max-width: 470px) {

  .blocapropos2 {
    height: 245px;
  }

  .liapropos {
      width: 90%;
      margin-left: 2%;
      margin-right: 8%;
    }

    .competences {
      height: 510px;
    }
}

@media screen and (max-width: 432px) {

    .competences {
      height: 530px;
    }
}

@media screen and (max-width: 414px) {

  .blocapropos2 {
    height: 255px;
  }

  .bloccompetences {
    width: 93%;
  }

}

@media screen and (max-width: 392px) {

  .nomhead {
    top: 230px;
  }

  .webhead {
    font-size: 26px;
    top: 375px
  }

  .competences {
    height: 560px;
  }

  .nomhead {
    top: 210px;
  }

  .webhead {

    top: 350px
  }

  .hr1 {
    top: 275px;
  }

  .hr2 {
    top: 465px;;
  }

}

@media screen and (max-width: 357px) {

  .blocapropos2 {
    height: 270px;
  }

  .buttoncv{
    font-size: 0.8em;
  }

}

@media screen and (max-width: 344px) {

  .bloc1 {
    height: 80px;
  }

  .competences {
    height: 590px;
  }

}

@media screen and (max-width: 330px) {

  .competences {
    height: 600px;
  }

}

@media screen and (max-width: 325px) {

  .blocapropos2 {
    height: 290px;
  }

  .competences {
    height: 620px;
  }

}
